* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

main{
 width: 960px;
 margin: 0 auto;
}

.lists li:nth-child(2n+1){
  background-color: #a9a9a9;
padding: 20px;
}
.lists{
  color: black;
  margin-top: 50px;
  list-style: none;
}

.lists li {
  padding: 20px;
}

.boxs{
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
}
.box1{
  width: 30%;
  height: 200px;
  background-color: orange;
  margin: 0 5% 40px 0;
}
.box2{
  width: 30%;
  height: 200px;
  background-color: yellow;
  margin: 0 5% 40px 0;
}
.box3{
  width: 30%;
  height: 200px;
  background-color: yellow;
  margin-bottom: 40px
}
.box4{
  width: 30%;
  height: 200px;
  background-color: yellow;
  margin: 0 5% 40px 0;
}
.box5{
  width: 30%;
  height: 200px;
  background-color: orange;
  margin: 0 5% 40px 0;
}
.box6{
  width: 30%;
  height: 200px;
  background-color: yellow;
  margin-bottom: 40px;
}
.box7{
  width: 30%;
  height: 200px;
  background-color: yellow;
  margin: 0 5% 40px 0;
}
.box8{
  width: 30%;
  height: 200px;
  background-color: yellow;
  margin: 0 5% 40px 0;
}
.box9{
  width: 30%;
  height: 200px;
  background-color: orange;
}